.header-navbar{
    position: absolute;
    width: 1920px;
    height: 100px;
    left: -1px;
    top: -1px;
    background-color: #023047;

}

.header-navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-right: 650px;
}
.header-navbar li{
    float: right;
}
.header-navbar a{
    display: block;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    padding: 34px 46px;
    text-decoration: none;
}
.content-section1{
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
    height: 700px;
}
.content-getstarted{
   position: absolute;
   box-sizing: border-box;
   height: 400px;
   margin-top: 150px;
   margin-left: 20px;
}
.content-getstarted img{
    width: 538px;
    height: 250px;
    
}
.content-getstarted #button{
    position: absolute;
    margin-top: 10px;
    width: 200px;
    height: 100px;
    left: 180px;
    border-radius: 50px;
    background-color: #8ECAE6;
    text-align: center;
}
.content-getstarted #button img{
    width: 17.5px;
    height: 17.5px;
}
.content-getstarted #button span{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin-top: 32px;
    color: white;
}
.content-mediaimg{
    box-sizing: border-box;
    position: absolute;
    margin-top: 180px;
    margin-left: 600px;
}
.content-mediaimg img{
    width: 615px;
    height: 290px; 
}
.content-webdescription{
    position: absolute;
    left: -1px;
    box-sizing: border-box;
}
.content-webdescription #socialmedia{
    position: relative;
    min-width: 100%;
    max-height: 100%;
    opacity: 0.8;
}
.content-webdescription #webdesc{
    position: absolute;
    top: 200px;
    left: 50px;
    overflow: hidden;
}
.content-webdescription #webdesc img{
    height: 150px;
}
.signup-content{
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
    width: 1920px;
    height: 1420px;
}
.signup-content #ellipse1{
    position: absolute;
    width: 541px;
    height: 526px;
    left: -241px;
    top: -215px;
    border-radius: 50%;
    border: 64px solid #8ECAE6;
}
.signup-content #ellipse2{
    position: absolute;
    width: 541px;
    height: 523px;
    left: 1340px;
    top: 791px;
    border-radius: 50%;
    border: 64px solid #8ECAE6;
}
.signup-content #ellipse3{
    position: absolute;
    width: 478px;
    height: 466px;
    left: 143px;
    top: 851px;
    border-radius: 50%;
    background: #D9D9D9;
}
.signup-box{
    position: relative;
    width: 1320px;
    height: 1024px;
    left: 300px;
    top: 198px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    box-shadow: 0px 2px 10px black;
}
.signup-title{
    position: absolute;
    background: #023047;
    width: 648px;
    height: 540px;
}
.signup-title span{
    vertical-align: middle;
    position: absolute;
    width: fit-content;
    line-height: 82px;
    left: 82px;
    top: 31px;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 0.33em;
    color: #FFFFFF;
}
.signup-title h1{
    margin: 0px;
    position: absolute;
    width: fit-content;
    height: 275px;
    left: 84px;
    top: 122px;
    font-weight: bolder;
    font-size: 71px;
    line-height: 93px;
    color: #8ECAE6;
}
.picture{
    position: absolute;
    width: 648px;
    height: 484px;
    top: 540px;
    background-color: #8ECAE6;
    display: flex;
    align-items: center;
}
.picture img{
    width: 619px;
    height: 413px;
}
.signup-form{
    position: absolute;
    width: 672px;
    height: 1024px;
    left: 648px;
    background: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
.signup-form h1{
    position: absolute;
    top: 128px;
    width: 100%;
    height: fit-content;
    font-weight: 400;
    font-size: 50px;
    line-height: 93px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 93px;
    text-align: center;
    color: #023047;
    margin: 0px;
}
.signup-form p{
    position: absolute;
    top: 177px;
    width: 100%;
    height: fit-content;
    font-weight: 400;
    font-size: 20px;
    line-height: 93px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #8ECAE6;
}

.blog-navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 1925px;
    border: 1px solid black;
}
.blog-navbar img, span{
    float: left;
    
}
.blog-navbar img{
    width: 250px;
    height: 150px;
    object-fit: cover;
}
.blog-navbar span{
    margin-left: 50px;
    margin-top: 60px;
    font-size: 30px;
}
.blog-navbar nav{
    position: absolute;
    margin-top: 40px;
    margin-left: 520px;
   
}
.blog-navbar ul{
    list-style: none;
}
.blog-navbar li{
    display: inline-block;
    padding: 0 100px;
    font-size: 30px;
}
.blog-navbar #post{
    position: absolute;
    margin-top: 40px;
    margin-left: 1600px;
    font-size: 30px;
    border-radius: 50px;
    background-color: #8ECAE6;
    padding: 20px 60px;
}
.blog-content{
    position: relative;
    margin-top: 160px;
    border: 1px solid black;
    height: 1500px;
}
.blog-trending{
    position: absolute;
    margin-top: 50px;
    width: 550px;
    height: 1300px;
}
.blog-trending p{
    font-family: 'Poppins', sans-serif;
    font-size: 71px;
    color: #023047;
    width: 400px;
    font-weight: 900;
    line-height: 93px;
    margin-top: -1px;
    margin-left: 30px;
}
.blog-trending img{
    position: absolute;
    top: 180px;
    left: 30px;
}
.trending-box{
    position: absolute;
    top: 280px;
    left: 10px;
    border: 1px solid black;
    width: 400px;
    height: 950px;
    background-color: #F4F4F4; 
}

#hashtags ul, #users ul{
    list-style: none;
}
#topics{
    margin-left: 20px;
}
#topics li, #hashtags li{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 70px;
}
.blog-trending h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 93px;
    color: #023047;
}
#users li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 93px;
    color: #867E7E;
}

