header{
    position: absolute;
    width: 1920px;
    height: 100px;
    left: -1px;
    top: -1px;
    background-color: #023047;

}

.header-navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-right: 650px;
}
.header-navbar li{
    float: right;
}
.header-navbar a{
    display: block;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    padding: 34px 46px;
    text-decoration: none;
}
.content-section1{
    border: 1px solid black;
    box-sizing: border-box;
    height: 700px;
}
.content-getstarted{
   position: absolute;
   box-sizing: border-box;
   height: 400px;
   margin-top: 150px;
   margin-left: 20px;
}
.content-getstarted img{
    width: 538px;
    height: 250px;
    
}
.content-getstarted #button{
    position: absolute;
    margin-top: 10px;
    width: 200px;
    height: 100px;
    left: 180px;
    border-radius: 50px;
    background-color: #8ECAE6;
    text-align: center;
}
.content-getstarted #button img{
    width: 17.5px;
    height: 17.5px;
}
.content-getstarted #button span{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin-top: 32px;
    color: white;
}
.content-mediaimg{
    box-sizing: border-box;
    position: absolute;
    margin-top: 180px;
    margin-left: 600px;
}
.content-mediaimg img{
    width: 615px;
    height: 290px; 
}
.content-webdescription{
    position: absolute;
    left: -1px;
    box-sizing: border-box;
}
.content-webdescription #socialmedia{
    position: relative;
    min-width: 100%;
    max-height: 100%;
    opacity: 0.8;
}
.content-webdescription #webdesc{
    position: absolute;
    top: 200px;
    left: 50px;
    overflow: hidden;
}
.content-webdescription #webdesc img{
    height: 150px;
}




