<!-- ABOUT US PAGE -->

<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Poppins&display=swap" rel="stylesheet">
        <!-- title -->
        <title>About Us - Enter-Act</title>

        <!-- icon title-->
        <link rel ="icon" href ="images/logo icon.png" type ="image/png">

         <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
        <link rel="stylesheet" href="style.css">
    </head>

    <%- include('header'); -%>
    
    <!-- about us - our team -->
    <div class="wrapper">
        <h1>Our Team</h1>

        <div class="team">
            <div class="team-member">
                <div class="team-img">
                    <img src="images/julia-icon.png" alt="team member image">
                </div>
                <h3>Julia Dalipe</h3>
                <p class="role">Webpage Developer</p>
                <p> Hey! My name is Julia Dalipe, currently taking B.S. in Information Systems in DLSU. <br>
                    Some of my hobbies are editing, playing online games and watching movies & anime. <br>
                    My favorite feature about blogs is that everyone can express themselves freely.
                </p>
            </div>
            <div class="team-member">
                <div class="team-img">
                    <img src="images/anton-icon.png" alt="team member image">
                </div>
                <h3>Anton de Leon</h3>
                <p class="role">Webpage Developer</p>
                <p> Hello! My name is Gabriel Anton de Leon, currently taking B.S. Information Technology in DLSU. <br>
                    I like playing video games, some of my favorites are Valorant, Minecraft, and Teamfight Tactics. <br>
                    With Enter-Act, I hope to create a fun and hassle-free environment where people can share their thoughts and experiences with their friends and family.</p>
            </div>
            <div class="team-member">
                <div class="team-img">
                    <img src="images/reece-icon.png" alt="team member image">
                </div>
                <h3>Reece de Padua</h3>
                <p class="role">Webpage Developer</p>
                <p> Hi my name is Reece de Padua, currently taking B.S. Information Technology in DLSU. <br>
                    I enjoy watching series such as Umbrella Academy, Stranger Things, Friends and more. I also play Valorant and my favorite agent is Chamber. <br>
                    With Enter-Act, I hope to see users getting to enjoy and appreciate our micro blog app!</p>
            </div>
        </div>
    </div>

    
    <div class="box">
        <div class="box-text">
            <div>
                <h4>What is Enter-Act?</h4>
                <p>
                    Enter-Act is a Microblogging Website. Microblogging is the practice of creating brief blog posts with a direct, 
                    usually immediate audience response. Microblogs are crucial because they 
                    give us a way to interact with the world around us. Our ability to interact 
                    online in a community setting is provided by microblogging websites. 
                    These websites can also be used as a quick approach to learn about
                    recent events or information that is urgent. They inform us in this way.
                    <br>
                    <br>
                    -------------------------------------------------------------
                    <br>

                    NPM LIBRARIES USED: <br>
                    body-parser, ejs, express.js, mysql, nodemon, bcrypt, multer, dotenv, express-session
                </p>
            </div>
        </div>
    </div>




   </body>
</html>