<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Poppins&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <!--Navbar-->
    <header class="blog-navbar">
        <img src="images/logo2.png" alt="Enter-Act Logo" onclick='location.href="enteract.ejs"'>
        <span>Enter Act</span>
        <nav>
            <ul>
                <li>Home</li>
                <li>My Profile</li>
                <li>Settings</li>
            </ul>
        </nav>
        <div id="post">Post a Blog</div>
    </header>
    <!--Contents of the Blog-->
    <div class="blog-content">
        <div class="blog-trending">
            <p>What's Trending:</p>
            <img src="images/Vector1.png" alt="">
            <div class="trending-box">
                <!--Trending Topics-->
                <nav id="topics">
                    <ul>
                        <li>COVID-19</li>
                        <li>ONLINE GAMES</li>
                        <li>DLSU</li>
                    </ul>
                </nav>
                <hr>
                <!--Trending Hashtags-->
                <nav id="hashtags">
                    <ul>
                        <li>#TIKTOK</li>
                        <li>#VALORANT</li>
                        <li>#SPORTS</li>
                    </ul>
                </nav>
                <hr>
                <!--Who to Follow-->
                <h2>who to follow:</h2>
                <nav id="users">
                    <ul>
                        <li>@ValorINTEL</li>
                        <li>@ChelDiokno</li>
                        <li>@Itssassagurl</li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--Blog Posting interface-->
        <div class="blog-posts">
            <div class="blog-outerdesign">
                <form action="/addpost" method="post">
                    <div class="blog-innerdesign">
                        <div class="usericon">
                            <img src="images/usericon.png" alt="User Icon">
                        </div>
                        <div class="username">
                            <p id="profile">
                                <%=Name %>
                            </p>
                            <p id="user">
                                <%=userName %>
                            </p>
                        </div>
                        <textarea name="message" id="blog-post" placeholder="Write a post..."></textarea>
                    </div>
                    <!--Buttons in Posting-->
                    <input type="submit" value="Post">
                    <input type="submit" value="CANCEL">
                </form>
            </div>
            <!--Blog Entries-->
            <div class="blog-entries">
                <div class="entry1">
                    <div class="entry-post">
                        <div class="usericon2">
                            <img src="images/usericon.png" alt="User Icon">
                        </div>
                        <div class="username2">
                            <p id="profile2">Clark Davis</p>
                            <p id="user2">@ClarkDavis</p>
                        </div>
                        <p class="post1">I can't believe @TenZOfficial is staying with Sentinels</p>
                    </div>
                    <div class="entry-reply1">
                        <p id="replyuser1">Valofan</p>
                        <p id="reply1">Give me that copium. Sentinels are gonna win this year.</p>
                    </div>
                    <div class="entry-reply2">
                        <p>replies...</p>
                    </div>
                </div>
            </div>
            <div class="blog-highlights">
                <div class="highlight-box">
                    <span id="title">Highlights:</span>
                    <div class="highlight-sports">
                        <img src="images/sports.png" alt="Girls playing soccer">
                        <span>#SPORTS</span>
                    </div>
                    <div class="highlight-games">
                        <img src="images/valo1.png" alt="Valorant Image">
                        <img src="images/valo2.png" alt="Valorant Image">
                        <span>#GAMES</span>
                    </div>
                    <hr>
                    <div class="highlight-news">
                        <span>News:</span>
                        <img src="images/news.png" alt="Breaking News">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>