
<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    
    <title>EnterAct Homepage</title>

     <!-- icon on title-->
     <link rel ="icon" href ="images/logo icon.png" type ="image/png">

</head>
<body>
    <!--Header of the page contains the Navigation Bar-->
    <header>
        <nav class="header-navbar">
            <ul>
                <li><a href="">Sign Up</a></li>
                <li><a href="">About Us</a></li>
                <!-- <li><a href="">Get Started</a></li> -->
                <li><a href="">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="background"></div>
    <!--Content of the page-->
    <div class="content">

        <!--Contain Logo and Get Started Button-->
        <div class="content-section1">
            <div class="content-getstarted">

                <!--Enter-Act Logo-->
                <img src="images/logo.png" alt="Enter-Act Logo">

                <!--Get Started Button-->
                <div id="button">
                    <img src="images/Vector.png" alt="Search Logo">
                    <span>Get Started</span>
                </div>
            </div>
            
            <!--Social Media image-->
            <div class="content-mediaimg">
                <img src="images/media.png" alt="Social Media">
            </div>
        </div>
        <div class="content-section2">
            <div class="content-webdescription">
                <video autoplay muted loop id="socialmedia">
                    <source src="videos/socialmedia.mp4" type="video/mp4">
                </video>
                <div id="webdesc">
                    <img src="images/webdesc.png" alt="Hit Enter to interACT! logo">
                </div>
            </div>
        </div>
    </div> 
</body>
</html>