<!-- ENTERACT HOMEPAGE -->

<%- include('header'); -%>

 <!-- title -->
 <title>Enter-Act Homepage</title>
 
    <!-- content  -->
    <div class="content">
        <div class="content-getstarted">

            <!--Enter-Act Logo-->
            <img src="images/logo.png" alt="Enter-Act Logo">

            <!--Get Started Button-->
            <button class="btn-hover color-9" type="button" onclick='location.href="signup.ejs"'>&#x1F50D; Get Started!</button>
            
            <!-- <div id="button">
                <img src="images/Vector.png" alt="Search Logo">
                <span>Get Started</span>
            </div> -->

             <!--Social Media image-->
             <div class="content-mediaimg">
                <img src="images/media.png" alt="Social Media">
            </div>
        </div>

        
    </div>

    <div class="banner2">

    </div>
    <!-- text description for enteract -->
    <div class="textdesc">
        <h2> Technology has been a big part of people’s lives up to this day, 
            it is integrated in our lifestyle and is used in our day-to-day activities. 
            Some of the examples of how people use these technologies is through social
            media applications where they interact with friends and express how they feel 
            without physically seeing them. Microblogging is the practice of creating brief 
            blog posts with a direct, usually immediate audience response. Microblogs are 
            crucial because they give us a way to interact with the world around us. </h2>
    </div>

    <div class="quote">
        <h1> Hit ENTER to interACT!</h1>
        <form>
            <input type="text" placeholder="&#x270e; Enter Topic">
            <button type="submit">Find Blogs</button>
        </form>

    </div>

    <div class="content-section2">
        <div class="content-webdescription">
            <video autoplay muted loop id="socialmedia">
                <source src="videos/socialmedia.mp4" type="video/mp4">
            </video>

    

    </div>


</body>
</html>